.card {
    position: relative;
    z-index: 0;
    /* ensure stacking context */
    border-radius: 10px;
    background: white;
    padding: 2px;
    /* thickness of border */
}

.card::after,
card::before {
    --angle: 0deg;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    padding: 3px;
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    animation: 3s spin linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card:hover::after {
    background: conic-gradient(from var(--angle), transparent 70%, #92afff);
}